/* === Layout Containers === */
.page-container {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: auto;
  max-width: 960px;
  padding: 24px;
  width: 100%;
}

.full-width {
  width: 100%;
}

/* === Card Styling === */
mat-card.bookmark-form,
mat-card.bookmark-list,
mat-card.bookmark-pagination {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  max-width: 100%;
  padding: 24px;
  width: 100%;
}

mat-card.bookmark-form,
mat-card.bookmark-pagination {
  flex-grow: 1;
  flex-shrink: 0;
}

mat-card.bookmark-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  max-height: 60vh;
  min-height: 40vh;
  position: relative;
}

/* === Form Layout === */
mat-card.bookmark-form form {
  margin-top: 16px;
}

mat-card-title {
  align-items: center;
  display: flex;
  gap: 5px;
}

.form-row {
  align-items: center;
  display: flex;
  gap: 1rem;
}

mat-form-field {
  flex: 1 1 auto;
  min-width: 0;
}

button[type="submit"] {
  align-self: flex-start;
  height: 56px;
  white-space: nowrap;
}

.error-row {
  color: red;
  display: flex;
  flex-direction: column;
  font-size: 0.85rem;
  gap: 2px;
  margin-top: 4px;
}

/* === Bookmark List === */
.list-content {
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 0;
}

.bookmark-link {
  display: inline-block;
  flex: 1;
  font-weight: 500;
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.bookmark-actions {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}

.mat-list-wrapper {
  flex: 1;
  overflow-y: auto;
  padding-right: 4px;
}

mat-card.bookmark-list mat-list {
  max-height: 100%;
  overflow-y: auto;
  padding: 0px;
  border: 1px solid #ddd7f4;
  margin-top: 16px;
}

mat-list-item:nth-child(even) {
  background-color: #f9f9f9;
  color: #673dff;
}

mat-list-item:nth-child(odd) {
  background-color: #f8f6ff;
  color: #3d1abc;
}

.empty-text {
  color: gray;
  font-style: italic;
  margin: 1rem 0 0 0.5rem;
  text-align: center;
  font-size: 20px;
}

/* === Pagination === */
.bookmark-pagination {
  display: flex;
  justify-content: center;
}

.pagination-controls {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  min-height: 48px;
}
.pagination-controls button.active {
  font-weight: bold;
  text-decoration: underline;
  background-color: #673dff;
  color: white;
  border-radius: 40px;
}
